---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Header from '../components/Header.astro'
import Social from '../components/Social.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'
import Email from '../components/Email.astro'
---

<Layout
  title='Miguel - Portfolio'
  description='No soy un robot, soy un desarrollador Front-End apasionado por el diseño web y la programación.'
>
  <Header />
  <main class='relative'>
    <About />

    <Social />

    <Projects />

    <Skills />
  </main>
  <Email />
</Layout>
