---
import IconMail from '../assets/icons/IconMail.astro'
import IconCopy from '../assets/icons/IconCopy.astro'
import IconSend from '../assets/icons/IconSend.astro'
---

<section>
  <article class='md:w-[720px] container mx-auto pb-8'>
    <h2 class='flex gap-2 items-center text-5xl font-extrabold mb-8'>
      <IconMail class='size-12' /><span>Mail</span>
    </h2>

    <div class='flex items-center gap-2'>
      <h3
        id='email'
        class='flex-1 text-xl px-4 py-2 border-2 bg-slate-900 border-slate-700 rounded-xl'
      >
        eldonmiguelpertuz@gmail.com
      </h3>
      <a
        href='mailto:eldonmiguelpertuz@gmail.com'
        class='relative px-4 py-2 group/copy text-black bg-sky-300 rounded-lg grid place-content-center'
      >
        <IconSend />
        <span
          class='absolute top-0 left-[50%] -translate-x-[50%] -translate-y-12 px-4 py-2 rounded-xl bg-white text-black w-[125px] transition-all duration-200 ease-out opacity-0 group-hover/copy:opacity-100 text-center'
          >Enviar email</span
        >
      </a>
      <button
        id='button'
        class='relative px-4 py-2 group/copy text-black bg-sky-300 rounded-lg grid place-content-center'
      >
        <IconCopy />
        <span
          id='tooltip'
          class='absolute top-0 left-[50%] -translate-x-[50%] -translate-y-12 px-4 py-2 rounded-xl bg-white text-black w-[125px] transition-all duration-200 ease-out opacity-0 group-hover/copy:opacity-100 text-center'
          >Copiar email</span
        >
      </button>
    </div>
  </article>
</section>

<script>
  const email = document.getElementById('email')
  const button = document.getElementById('button')

  button?.addEventListener('click', () => {
    const copyTest = email?.innerHTML

    if (copyTest) {
      navigator?.clipboard.writeText(copyTest)
      let tooltip = document.getElementById('tooltip')

      if (tooltip) {
        tooltip.innerHTML = 'Copiado'
        const timeOut = setTimeout(() => {
          if (tooltip) {
            tooltip.innerHTML = 'Copiar email'
          }
          return clearTimeout(timeOut)
        }, 1500)
      }
    }
  })
</script>
