---
import IconAstro from '../assets/icons/IconAstro.astro'
import IconCode from '../assets/icons/IconCode.astro'
import IconFirebase from '../assets/icons/IconFirebase.astro'
import IconHeartCode from '../assets/icons/IconHeartCode.astro'
import IconJS from '../assets/icons/IconJS.astro'
import IconNextJS from '../assets/icons/IconNextJS.astro'
import IconReact from '../assets/icons/IconReact.astro'
import IconTS from '../assets/icons/IconTS.astro'
import IconTailwind from '../assets/icons/IconTailwind.astro'
import IconNodeJS from '../assets/icons/IconNodeJS.astro'

const technologies = [
  { name: 'JavaScript', Icon: IconJS },
  { name: 'TypeScript', Icon: IconTS },
  { name: 'Tailwind', Icon: IconTailwind }
]

const learnTechnologies = [
  { name: 'Astro', Icon: IconAstro },
  { name: 'React', Icon: IconReact },
  { name: 'NextJS', Icon: IconNextJS },
  { name: 'NodeJS', Icon: IconNodeJS },
  { name: 'Firebase', Icon: IconFirebase }
]
---

<section
  id='habilidades'
  class='w-full md:w-[720px] container mx-auto pt-20 pb-20'
>
  <h2 class='flex gap-2 items-center text-4xl md:text-5xl font-extrabold mb-8'>
    <IconCode class='size-10 md:size-12' /><span>Habilidades</span>
  </h2>

  <ul class='grid grid-cols-4 gap-2 text-center mb-12'>
    {
      technologies.map(({ name, Icon }) => (
        <li class='col-span-2 md:col-span-1 size-full flex items-center gap-2 p-4 bg-slate-900 border-slate-700 rounded-md'>
          <span>
            <Icon class='size-5' />
          </span>
          <h3 class='font-bold'>{name}</h3>
        </li>
      ))
    }
  </ul>

  <h2 class='flex gap-2 items-center text-4xl md:text-5xl font-extrabold mb-8'>
    <IconHeartCode class='size-10 md:size-12' /><span>Focus</span>
  </h2>

  <ul class='grid grid-cols-4 gap-2 text-center'>
    {
      learnTechnologies.map(({name, Icon}) => (
        <li class='col-span-2 md:col-span-1 size-full flex items-center gap-2 p-4 bg-slate-900 border-slate-700 rounded-md'>
          <span>
            <Icon class='size-5' />
          </span>
          <h3 class='font-bold'>{name}</h3>
        </li>
      ))
    }
  </ul>
</section>
